<?xml version="1.0" encoding="UTF-8" ?>
    <widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        id          = "com.joshuapullen"
        versionCode = "10"
        version     = "1.0.0" >

    <!-- versionCode is optional and Android only -->

    <name>Better Pen App</name>

    <description>
        My first app, compiled with l33t h4x.
    </description>

    <author href="http://joshuapullen.com/" email="JoshPullen27@gmail.com">
        Josh Pullen
    </author>

</widget>
